body{
   margin:0;
   text-align: center;
}
h1{
    font-size: 100px;
   color:#66BFBF;
   
    font-family : 'Sacramento', cursive;
}
h2{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
    
}
h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}
.prog{
    font-family: 'Montserrat', sans-serif;
    font-size:3.5 rem;
    color:#0B666A;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size:25px;
    color:#61677A;
}
 
.top-container{
    
    background-color: #b6e0ee;
    width: 1080px;
    position:relative;
    left:10px;
   width:1240px;
   padding-top: 10px;
    
}
.middle-container{
   
    

    
}
.bottom-container{
   
   
    
}
.pro{
    text-decoration: underline;
    color:#0B666A;
    font-size: 2.5rem;
}
.top-cloud{
   position:absolute;
   right:100px;
   top:0px;
    
}
.bottom-cloud{
    position:absolute;
    left:150px;
    top:30px;
    
}
.mountain{
   width:1180px;
}
.skill{
    width:150px;
}
.pp{
    width:150px;
}
